.wrapper {
    max-width: 1300px;
    width: 80%;
    margin: 0 auto;

}


img {
    width: 100%;
    padding: 10%;
}

.imgContainer {
    width: 100%;
    position: relative
}

.color {
    // position: absolute;
    top: 0;
    left: 0;  
    width: 100%;  
}

svg {
    position: absolute;
    width: 0;
    height: 0;
    left: -50%;
    right: -50%;
}

.newContents {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 50%;
    overflow: hidden;
    clip-path: url('/assets/wave1.svg#wave1');
    animation: fill 4s ease-out;
}

@keyframes fill {
    from { 
        height: 0;
        opacity: 25%;
    }
    to { 
        height: 100%;
        opacity: 100%;
    }
}