.wrapper {
    max-width: 1300px;
    width: 60%;
    margin: 0 auto;

}


img {
    width: 100%;
    padding: 20%;
}

.imgContainer {
    width: 100%;
    position: relative
}

.color {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    height: 100%;  
    width: 100%;  
    padding: 10% 0;
}


.newContents {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 50%;
    overflow: hidden;
    mask-image: url('/assets/Shape1copy.png');
    mask-size: 200%;
    mask-position:  right 0% top 0;
    animation: fill 6s ease-out infinite, wave1 1s linear infinite;
}

#svg {
    position: absolute;
}


@keyframes fill {
    from { 
        height: 0;
        opacity: 25%;
    }
    to { 
        height: 100%;
        opacity: 100%;
    }
}

@keyframes wave1 {
    from { mask-position:  right 0% top 0 }
    to { mask-position:  right 33% top 0 }
}

